/* Estilos generales */
body {
    background-image: url('./imagenes/fondo-servicios.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que el fondo cubra todo el área */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* El fondo permanece fijo al hacer scroll */
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    transition: background-color 0.5s ease;
    background-color: #fafafa; /* Color de fondo claro */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5); /* Sombra interna */
}
/* Fondo y estructura */
.header-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('./imagenes/f3.jpg') no-repeat center center/cover;
    text-align: center;
    padding: 150px 50px;
    color: white;
    position: relative;
    overflow: hidden;
}

/* Estilo del título principal */
.main-title {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s ease-out forwards;
    letter-spacing: 3px;
    color: #00ff77; /* Color vibrante */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo del subtítulo */
.main-subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.2s ease-out forwards;
    line-height: 1.5;
    color: #f3f3f3;
}

/* Efectos de entrada */
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Efecto Hover en el título */
.main-title:hover {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    transform: scale(1.05);
}


hr {
    border: 0; /* Eliminar el borde predeterminado */
    height: 2px; /* Grosor de la línea */
    background-color: #ccc; /* Color de la línea */
    margin: 40px 0; /* Espacio arriba y abajo de la línea */
}
.banner {
    background: linear-gradient(135deg, #f0f0f0, #f0f0f0);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    color: #191616;
}
.banner h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner p {
    font-size: 1.5em;
    margin: 20px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}



/* Navbar estilos */
nav {
    background-color: #000000; /* Color de fondo del navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Alinea los elementos al centro */
    gap: 80px;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%; 
}

nav ul li {
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li.logo {
    margin-right: auto;
}
nav ul li a.logo img {
    width: 90px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción */
    display: block;
    
}
nav ul li a {
    text-transform: uppercase; 
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.logo {
    font-size: 10px;
    height: auto;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    color: #040404  !important;/* Ejemplo de color: un tono naranja */
}
.logo a{
    font-size: 24px;
    font-weight: bold;
    color: #bac2bb;
}

nav ul li a.logo {
    padding: 0; /* Elimina el padding del logo */
    margin-right: 0; /* Elimina el margen derecho del logo */
}
nav ul li a.logo:hover {
    background-color: #191616;/* Mismo efecto hover que los demás íconos */
    color: #fff;
}

nav ul li a:hover {
    background-color: green; /* Color de fondo al hacer hover */
    color: #fff;
    border-radius: 5px;
}
nav ul li a .fa-instagram {
    color: #C13584; /* Color del ícono de Instagram */
    font-size: 20px;
}
.instagram-link i {
    font-size: 24px; /* Tamaño del ícono */
    color: #000; /* Cambia este color si lo deseas */
    transition: transform 0.3s ease, color 0.3s ease; /* Efecto suave */
}

.instagram-link i:hover {
    transform: scale(1.2); /* Efecto hover que agranda el ícono */
    color: #E1306C; /* Cambia el color al pasar el mouse (color de Instagram) */
}
header h1, h2 {
    color: #304231; /* Color para los títulos */
    text-align: center;
}
p, ul {
    font-size: 18px; /* Tamaño de fuente más legible */
    line-height: 1.6;
}
.btn-cta {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#planes {
    text-align: center;
    padding: 40px 0;
}
.currency{
    color: white;
}
#currencyDisplay {
    margin: 20px;
    font-size: 20px;
    color: #fff; /* Cambia el color según tu diseño */
}
.section-servicios {
    position: relative;
    background-color: #f0f0f0; /* Color de fondo para la sección */
    padding: 100px 20px;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    text-align: center;
}

.section-servicios::before {
    content: '';
    position: absolute;
    top: -50px; /* Ajusta la posición para que se vea la ola */
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.servicios-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.servicio {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s;
}

.servicio:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* General Styling for Section Artículos */
.section-articulos {
    margin: 30px; /* Espaciado externo de la sección */
    background: linear-gradient(135deg, #f0f0f0, #f0f0f0); /* Gradiente de colores suaves */
    padding: 40px 20px;
    border-radius: 10px;
}

.section-articulos h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 70px; /* Aumentar el espacio debajo del título */
}
.section-articulos article h3 {
    color: #237e4a; /* Color del título en verde */
    font-size: 1.7em;
    margin-bottom: 15px;
}

.section-articulos article {
    margin-bottom: 60px; /* Espacio entre artículos */
}

.section-articulos ol {
    margin-left: 20px; /* Espacio a la izquierda de la lista */
    padding-left: 0; /* Eliminar el padding predeterminado */
}

.section-articulos li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}


/* Styling for the Wave */
.wave-container {
    position: relative;
    width: 100%;
    bottom: -5px; /* Ajusta la posición vertical de la ola */
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(1px);
}


/* Estilo para cada plan */
.titulo-planes{
    color: #30ad36;
}

.section-planes {
    background-color: #f4f4f4; /* Color de fondo suave */
    padding: 60px 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrado de texto */
}

.section-planes h1 {
    margin-bottom: 30px;
    color: #304231;
    font-family: 'Arial', sans-serif;
}

.section-planes p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

.container-planes {
    max-width: 1200px;
    margin: 0 auto; /* Centrado */
    padding: 40px 20px;
}

.plan {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Reduce el ancho máximo para centrar mejor */
    margin: 20px auto; /* Centra los planes horizontalmente */
    text-align: left; /* Alinea el texto a la izquierda */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Efecto suave al pasar el mouse */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}


.plan, #cart-items {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.plan h2 {
    margin-top: 0;
    color: #262928;
}

.plan p, #cart-items div {
    margin: 10px 0;
}
/* Estilo para el título */
#planes h2 {
    text-align: center;
    font-size: 28px;
    color: #222522;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilo para las diferencias entre los planes */
.diferencias-planes {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

/* Estilo para los elementos individuales de los planes */
.diferencias-planes p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Resaltado para los nombres de los planes */
.diferencias-planes strong {
    color: #4CAF50;
    font-size: 20px;
    font-weight: bold;
}

/* Estilo para cada línea del plan */
.diferencias-planes li {
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
    padding-left: 25px;
}

/* Añadir un ícono o círculo en lugar del guion */
.diferencias-planes li::before {
    content: "\2022";
    color: #232423;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}

/* Efecto hover en los elementos del plan */
.diferencias-planes p:hover {
    background-color: #e0f7fa;
    padding-left: 10px;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
}
.plan-p{
    font-size: 10px;
    text-align: left;
}
/* Destacar el precio */
.price.destacado, .precio-destacado {
    font-size: 1.5em;
    color: #27ae60; /* Verde llamativo */
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-title {
    text-align: center; /* Alineación central para el título y subtítulo */
    margin-bottom: 20px;
}

.plan-title h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.plan-title .subtitle {
    font-size: 1em;
    color: #7f8c8d; /* Color más suave para el subtítulo */
    margin-top: 5px; /* Un pequeño margen para separarlo del título */
    font-style: italic; /* Opcional: para un estilo de subtítulo */
}

/* Alinear y dar estilo a los íconos de visto */
.plan-ul {
    list-style-type: none;
    padding: 0;
}

.plan-p {
    display: flex;
    align-items: center;
}

.check {
    color: #27ae60; /* Verde para el visto */
    font-weight: bold;
    margin-right: 8px;
    font-size: 1.2em;
}


button, a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover, a:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #3a3e3a;
}

a:hover {
    color: #2b2b2b; /* Efecto de cambio de color en hover */
}

button {
    margin-top: 10px;
}


/* Carrito */
#empty-cart {
    background-color: #e63946;
    margin-bottom: 20px;
}

#empty-cart:hover {
    background-color: #d62828;
}

#cart-items {
    display: flex;
    flex-direction: column;
}

#cart-items div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#total-price {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

p {
    color: #333335;
    font-size: 20px;
}
.carrito {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 25px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones para un efecto suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar el botón */
}

.carrito:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.carrito:active {
    transform: translateY(0); /* El botón regresa a su lugar al hacer clic */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
}

/* Estilos para el formulario de pago */
form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    box-shadow: 0 0 8px rgba(72, 187, 120, 0.8);
    outline: none;
}


#card-element {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#submit {
    margin-top: 20px;
    background-color: #2a9d8f;
}

#error-message {
    color: red;
    margin-top: 10px;
}
section {
    padding: 50px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: white; /* Fondo blanco para las secciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Efecto suave en las secciones */
}
section:hover {
    transform: translateY(-10px); /* Efecto de levantar la sección al hacer hover */
}

/* Estilos para la sección Quién Soy */
.titulo{
    font-size: 50px;
}

.section-quien-soy {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
/* Ajustar el tamaño del párrafo */
#quien-soy p {
    font-size: 18px; /* Tamaño del contenido (puedes ajustarlo según prefieras) */
    line-height: 1.6; /* Ajusta el espaciado entre líneas para mejor legibilidad */
    color: #333; /* Color del texto */
}

/* Ajustar el tamaño del strong dentro del párrafo */
#quien-soy strong {
    font-size: 20px; /* Aumenta el tamaño del texto resaltado (en negrita) */
    color: #177336; /* Color del texto en negrita */
}

/* Ajustar el tamaño del blockquote */
#quien-soy blockquote {
    font-size: 22px; /* Tamaño del texto de la cita */
    font-style: italic; /* Cursiva para el blockquote */
    margin: 20px 0; /* Margen superior e inferior para separarlo del resto del texto */
    color: #248306; /* Color del texto */
}

/* Ajustar el título de la sección "Quién Soy" */
#quien-soy h2 {
    font-size: 44px; /* Tamaño del título de la sección */
    font-weight: bold; /* Negrita para destacar el título */
    margin-bottom: 35px; /* Espacio entre el título y el contenido */
    color: #177336; /* Color del título */
}

.quien-soy-content, .porque-elegirme-content {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: space-between; /* Espacio entre imagen y texto */
    margin: 20px 0; /* Espaciado entre las secciones */
}
.quien-soy-text, .porque-elegirme-text {
    max-width: 60%; /* Ajusta el ancho máximo del texto */
}
.porque-elegirme-content h2 {
    margin-bottom: 10px; /* Ajusta el valor según lo cerca que quieras que esté del contenido */
}
/* Estilo para los elementos de la lista */
.porque-elegirme-container {
    display: flex; /* Usar flexbox para alinear la imagen y el texto horizontalmente */
    align-items: flex-start; /* Alinear los elementos al inicio */
    margin: 20px 0; /* Margen superior e inferior para la sección */
}

.porque-elegirme-container img {
    width: 50%; /* Ancho de la imagen (ajústalo según necesites) */
    max-width: 300px; /* Tamaño máximo de la imagen */
    margin-right: 30px; /* Espacio entre la imagen y el texto */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.porque-elegirme-text {
    flex: 1; /* Permitir que el texto ocupe el espacio restante */
}

.porque-elegirme-text h3 {
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
    font-size: 24px; /* Tamaño del título */
    color: #333; /* Color del título */
}

.porque-elegirme-text .item {
    margin-bottom: 20px; /* Espacio entre cada elemento */
}

.porque-elegirme-text .item strong {
    display: block; /* Hace que el <strong> ocupe toda la línea */
    margin-bottom: 8px; /* Espacio entre el título y el párrafo */
    font-size: 18px; /* Tamaño del texto fuerte */
    color: #15883a; /* Color del texto fuerte */
}

.porque-elegirme-text .item p {
    margin: 0; /* Eliminar margen del párrafo */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #555; /* Color del párrafo */
}



.section-quien-soy h2 {
    font-size: 3rem; /* Tamaño grande para el título */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center; /* Centra el título */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Sombra en el texto */
}

.section-quien-soy p {
    font-size: 1em; /* Tamaño de fuente para párrafos */
    margin-bottom: 20px; /* Espacio inferior */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra en el texto */
}

.quien-soy-content {
    display: flex; /* Disposición flexible para texto e imágenes */
    align-items: flex-start; /* Alinear elementos al inicio */
    gap: 20px; /* Espacio entre texto e imágenes */
    margin-top: 20px; /* Espacio superior */
}

.quien-soy-text {
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 20px; /* Espacio entre texto e imágenes */
}
.quien-soy-text, .porque-elegirme-text {
    max-width: 60%; /* Ajusta el ancho máximo del texto */
}

.quien-soy-imagenes {
    flex: 0 0 40%; /* Ancho fijo para las imágenes */
    display: flex;
    flex-direction: column; /* Disposición en columna */
    align-items: center; /* Centra las imágenes */
}

.imagen-articulo {
    max-width: 100%; /* Ajusta el tamaño de las imágenes a su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin-bottom: 15px; /* Espacio entre imágenes */
}

blockquote {
    font-style: italic; /* Estilo de la cita */
    margin: 20px 0; /* Espacio arriba y abajo */
    text-align: center; /* Centra la cita */
    color: #00BFAE; /* Color diferente para la cita */
    border-left: 4px solid #00BFAE; /* Línea a la izquierda */
    padding-left: 20px; /* Espacio a la izquierda del texto */
}

.resultado-descripcion {
    margin: 0; /* Sin margen */
    margin-top: 30px; /* Espacio superior */
    margin-bottom: 50px; /* Espacio inferior */
}

.section-quien-soy ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

.section-quien-soy ul li {
    display: flex; /* Disposición flexible */
    align-items: center; /* Centra el contenido */
    margin-bottom: 15px; /* Espaciado entre elementos de la lista */
}

.section-quien-soy ul li::before {
    content: "\f058"; /* Icono Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Peso de la fuente */
    margin-right: 10px; /* Espacio a la derecha del icono */
    color: #047f2d; /* Color del icono */
}

.imagenes-finales {
    display: flex; /* Coloca las imágenes una al lado de la otra */
    justify-content: center; /* Centra las imágenes */
    gap: 40px; /* Espacio entre las imágenes */
    margin-top: 20px; /* Espacio superior */
}

.imagen-articulo {
    max-width: 180px; /* Tamaño máximo para las imágenes */
    height: auto; /* Mantiene la proporción */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}
.imagen-principal, .imagen-secundaria {
    border-radius: 10px; 
    max-width: 25%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin-left: 20px; /* Espaciado a la izquierda de las imágenes */
}


#fotogaleria h1 {
    text-align: center; /* Centrado del título */
    margin: 60px 0 30px; /* Espaciado superior aumentado a 60px */
    color: #333; /* Color de texto */
    font-family: Arial, sans-serif; /* Fuente */
}
#contacto h1 {
    text-align: center; /* Centrado del título */
    margin: 60px 0; /* Espaciado superior aumentado a 60px */
}
.carrito{
    color: white;
}

/* Footer */
/* Footer Minimalista */
/* Footer Alargado */
/* Estilo del footer */
footer {
    background-color: black; /* Color de fondo negro */
    color: white; /* Color del texto blanco para contraste */
    width: 100%; /* Ocupa todo el ancho de la página */
    position: relative; /* Asegura que se mantenga en su lugar */
    bottom: 0; /* Coloca el footer en la parte inferior */
    padding: 20px 0; /* Espaciado vertical */
    margin-top: 20px; /* Espacio encima del footer, si es necesario */
}

.footer-container {
    max-width: 1200px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centra el contenido dentro del footer */
    padding: 0 20px; /* Espacio interno */
}

.footer-bottom {
    text-align: center; /* Centra el texto del footer */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    margin-top: 10px; /* Espacio encima del footer inferior */
}


/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        flex-basis: 100%;
    }

    .footer-section ul li {
        display: block;
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .plan, #cart-items {
        width: 90%;
    }
}
